body{
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color:#eee;
  font-family:Lato, sans-serif !important;
  margin:auto;
}

header{
  position:fixed;
  display:flex;
  background-color:#eee;
  flex-direction:row;
  flex-wrap:no-wrap;
  width:100%;
}

#topNav{
   background-color:#eee;
   padding-top:10px;
   margin-right:25px;
}

li{
  list-style:none;
}

a{
  text-decoration:none;
  color:black;
}

#linkLogo{
  display:flex;
}

#navlinks{
  padding-left:25px;
}

#navMaster{
  
}

#imgText{
  display:flex;
}

#header-img{
  width:100px;
  position:relative;
  top:9px;
}

#subscribeForm{
  margin-top:100px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

#email{
  width:300px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:1px;
  color:gray;
}

input{
  display:flex;
  flex-direction:column;
  justify-self:center;
  margin-bottom:15px;
}

#submit,value{
  background-color: #f1c40f;
  margin:auto;
  height:30px;
  border-radius:3px;
  padding-top:7.2px;
  padding-bottom:7.2px;
  font-weight:bold !important;
  border-style:none;
  font-size:17px;
  cursor:pointer;
  text-align:center;
}

#features{
  margin-top: 90px;
}

#algPic{
  height:100px;
  width:100px;
  display:flex;
  margin-bottom:25px;
}

#innerFeatures{
  display:flex;
  margin-bottom:20px; 
  flex-wrap:wrap;
}

#innerAlgContext{
  margin-left:50px;
  flex-wrap:wrap;
}

#innerFeatureParagraph{
  line-height:2px;
  font-style:none;
  font-size:16px;
  font-family:Lato, sans-serif
}

#videoContent{
  margin-top:80px;
  display:flex;
  flex-direction:column;
  align-self:center;
  margin-bottom:10px;
}

#pricing{
  display:grid;
  grid-template-columns:245px 245px 245px !important;
  grid-gap:20px;
  justify-content:center;
  margin-top:55px;
  margin-bottom:35px;
}

#box-one{
  height:295px;
  border-radius:1.5px;
  background-color:#eee;
  border-style:solid;
  border-width:1px;
  box-shadow:6px 12px 6px rgba(0,0,0,.3);
  
}

#box-two{
  height:295px;
  border-radius:1.5px;
  border-style:solid;
  border-width:1px;
  background-color:#eee;
  box-shadow:6px 12px 6px rgba(0,0,0,.3);
}

#box-three{
  height:295px;
  border-radius:1.5px;
  background-color:#eee;
  border-style:solid;
  border-width:1px;
  box-shadow:6px 12px 6px rgba(0,0,0,.3);
}

#box-content{
  padding-top:11px;
}

#innerbox-content{
  font-weight:100;
  font-size:17px;
  line-height:6.5px;
}

#innerButton{
  background-color:#F1C40F;
  height:42px;
  width:120px;
  border-radius:3.8px;
  font-size:18px;
  border-style:none;
  cursor:pointer;
}

#innerButton:hover{
  animation-name: background-color;
  animation-duration:500ms !important;
  animation-fill-mode:forwards;
}

@keyframes background-color {
    100% {
      background-color:#ff8100d6;
    }
  }

/* Responsive Screen for Cell */
@media(max-width:750px){
  #pricing{
    display:flex !important;
    flex-direction:column;
    width:300px !important;
    margin:auto;
  }
  
  #box-one{
    margin-top:30px !important;
  }
  
  #box-two{
    margin-top:30px !important;
  }
   #box-three{
    margin-top:30px !important;
    margin-bottom:20px !important;
  }
   #header{
    display:flex !important;
    flex-direction:column;
    align-items:center;
    margin-top:-10px; 
  }
  #topNav{
    position:relative;
    left:0px;
    top:6px;
    padding:1px;
  }
  #header-image{
    padding:1px !important;
    position:relative !important;
    margin-right:20px;
    margin-bottom:5px;
  }
  #linkLogo{
    position:relative;
    right:20px;
    top:13.5px;
    padding-right:2px;
    padding-bottom:10px;
  }
 
  main{
    margin-top:30px;
    text-align:center !important;
    align-items:center !important;
  }
  #algPic{
   margin-bottom:1px;
    margin-right:3px;
   
  }
  #features{
    margin-top:35px;
    padding-right:65px;
    margin-bottom:3px;
  }
  #innerFeatures{
    display:flex;
    flex-direction:columns;
    justify-content:center !important;
    padding-top:3px;
  }
  #innerAlgContext{
   padding-right:22px;
  }
  #videoContent{
    margin-top:2px;
    max-width:auto;
  }
}
/* End of Responsive Screen for Cell */

#boxHeader{
  height:45px;
  background-color:#ddd;
  text-align:center;
  padding-top:5px;
  padding-bottom:10px;
}

#footer{
  background-color:#ddd !important;
  height:20px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  justify-content:space-evenly;
  padding-bottom:2px;
  color: #000;
  text-decoration: none !important;
} 

#innerFooter{
  display:flex;
  background-color:#ddd !important;
  display:flex;
  flex-direction:row;
  justify-content:center;
  justify-content:space-evenly;
  padding-bottom:1px
  margin-top:-6px;
  color: #000;
  text-decoration: none !important;
  padding-top:1px;
}
